
<h1><b>Tasks List</b></h1>

<button id="b" (click)="ShowTasks()">Refresh All Tasks</button>

<br />
<br />

<div>
    <ul *ngFor="let t of tasks">
        <li>
            <strong>Id:</strong> {{t.id}} &nbsp;
            <strong>Task:</strong> {{t.task}} &nbsp;
            <button type="button" (click)="deleteTask(t)">Delete</button>
        </li>
    </ul>
</div>

<br />

<div>
    <form [formGroup]="fg" (ngSubmit)="AddTask()" novalidate>

        <div class="form-group">
            <label>Task</label>

            <input type="text" class="form-control mb-3" formControlName="newtask" required>

            <div *ngIf="g.newtask.touched && g.newtask.invalid" class="alert alert-danger">
                <div *ngIf="g.newtask.errors?.required">Task is required</div>
                <div *ngIf="g.newtask.errors?.minlength">Enter atleast 2 characters</div>
            </div>
        </div>

        <button class="btn btn-primary" type="submit">Add Task</button>
    </form>
</div>